

body, html, #root, .app, .container{
  width: 100%;
  height: 100%;


}

.container{
  font-size: 45px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*background-image: url(stores/screen-shot-2018-01-08-at-12-29-25.png);*/
  background: linear-gradient(45deg, #182e4f, #1b293d, #1e123b, #120e02);
  background-size: 400%, 400%;
  position: relative; 
  animation: change 10s ease-in-out infinite;
}

.loginForm{
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  text-align: center;
  
}

.text1{

  font-size: 100px;
  color:#fff;
  animation: text 3s 1;
  text-transform: uppercase;
}

@keyframes text{
  0%{
    color:#c4c4c4;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 4px;
    margin-bottom: -40px;
    font-size: 95px;
  }
  50%{
    letter-spacing: 2px;
    margin-bottom: -40px;
    font-size: 90px;

  }
  90%{
    letter-spacing: 0px;
    font-size: 85px;
  }
}

@keyframes change{
  0%{
    background-position: 0 50%;

  }

  50%{
    background-position: 100% 50%;

  }
  100%{
    background-position: 0 50%;
  }
}




.inputField{
  padding-top: 16px;
}

.input{
  box-sizing: border-box;
  outline: none;
  border: solid 2px #111;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  background: #111;

}

.submitButton{
  padding-top: 15px;
  padding-bottom: 15px;

}

.btn{
  width: 50%;
  min-width: 100px;
  color: #191919;
  padding: 5px;
  font-size: 30px;
  font-weight: bold;
  border:solid 2px #fff;
  border-radius: 15px;
  background: #fff;
  cursor: pointer;
}